<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-header *ngIf="!isLoading">
  <mat-card-title>
    <h4>Post Content</h4>
  </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="!isLoading">
<form [formGroup]="form" (submit)="onSavePost()">
    <mat-form-field>
      <input matInput name="title" formControlName="title" placeholder="Title">
      <mat-error *ngIf="form?.get('title').invalid">{{
        form?.get('title').errors?.required ? 'Title is required' : 'Title must be at least 3 characters long'
        }}</mat-error>
    </mat-form-field>
    <div>
    <button mat-input mat-raised-button color="accent" type="button" (click)="filePicker.click()">Select Image</button>
    <input name="file" type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form?.get('image').valid">
      <img [src]="imagePreview" [alt]="form?.get('title')">
    </div>
    <mat-form-field>
      <textarea name="content" matInput rows="6" formControlName="content" placeholder="Content"></textarea>
      <mat-error *ngIf="form?.get('content').invalid">{{
        form?.get('content').errors?.required ? 'Content is required' : 'Content must be at least 10 characters long'
        }}</mat-error>
    </mat-form-field>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </mat-card-actions>
</form>
  </mat-card-content>
</mat-card>
<hr>
